.fa-globe-europe {
    color: $light-green;
}

.fa-mug-hot {
    color: $blue;
}

.fa-chess-pawn {
    color: $brown;
}

.fa-shipping-fast {
    color: $violet;
}

.fa-arrow-right {
    color: $orange;
}

.fa-arrow-left {
    color: $orange;
}

.fa-facebook {
    color: $blurple;
}

.fa-twitter-square {
    color: $blue;
}

.fa-instagram {
    color: $brown;
}

.fa-basketball-bal {
    color: $brown;
}

.fa-google-plus-g {
    color: $light-green;
}

.fa-linkedin {
    color: $dark-blue;
}

.fa-reddit {
    color: $orange;
}

.fa-money-bill-wave {
    color: $green;
}

.fa-star {
    color: $sun;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
    color: $black;
}