$green:#27ae60;
$white:#fff;
$black:#000;
$grey:#95a5a6;
$orange:#f39c12;
$dark-white:#ecf0f1;
$light-green:#0aee1d;
$blue:#3498db;
$brown:#d35400;
$violet:#8e44ad;
$midnight:#2c3e50;
$yellow:#FDE3A7;
$light-blue:#C5D3E2;
$blurple:#4834d4;
$dark-blue:#1e3799;
$cherry:#b71540;
$sun:#f1c40f;